<main class="main">
  <div class="calendar-header">
    <div class="nav-buttons">
      <button (click)="prevWeek()" [disabled]="currentWeekIndex === 0">&#60;</button>
      <h1 class="month-title">April 2026</h1>
      <button (click)="nextWeek()" [disabled]="currentWeekIndex === weeks.length - 1">&#62;</button>
    </div>
  </div>
  <div class="calendar">
    @for (day of weeks[currentWeekIndex]; track day) {
      <div class="day-column">
        <div class="day-header">
          <div class="day-name">{{ day.date | date:'EEE' }}</div>
          <div class="day-date">{{ day.date | date:'d' }}</div>
        </div>
        <button class="add-button" (click)="openAddEventModal(day.date)">
          <p>+</p>
        </button>
        <div 
          class="events" 
          cdkDropList
          [cdkDropListData]="day.events"
          [cdkDropListConnectedTo]="allDropLists"
          (cdkDropListDropped)="drop($event)"
          [id]="'day-' + day.date.getTime()"
        >
          @for (event of day.events; track event) {
            <div class="event" cdkDrag>
              {{ event.title }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</main>

<app-add-event-modal 
  [isModalOpen]="isModalOpen" 
  [selectedDay]="currentDay"
  (eventAdded)="handleEventAdded($event)"
  (close)="closeAddEventModal()" 
/>

<router-outlet/>